<h1> The word <strong>"<%= @word %>"</strong> appeared <strong> <%= @count %> </strong> times </h1>

<h1> The word <strong>"<%= @word %>"</strong> appeared <strong> <%= @count_everything %> </strong> times in comprehensive mode</h1>
